
/*Contains all the variables*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Variables*/
$primary-color: hsl(257, 40%, 49%);
$heading: 'Poppins', sans-serif;
$para: 'Open Sans', sans-serif;
$font: 16px;
$button-color: chocolate;